:root {
  --black-color--dark: #040203;
  --black-color--light: #323232;
  --black-color--switch: #191919;
  --yellow-color--dark: #ffbd35;
  --yellow-color--light: #fef89a;
  --yellow-color--switch: #ffe264;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of users browser font-size settings */
  /* It is able to use easy px to rem ratio that 1 rem = 10 px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  color: white;
}

h1 {
  font-size: 4.8rem;
  letter-spacing: 0.2rem;
}

.container {
  display: flex;
  margin: 8rem 0 80rem;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30rem;
  text-align: center;
}

body.off {
  background-color: var(--black-color--light);
}

body.on {
  background-color: var(--yellow-color--dark);
}

.bulb {
  width: 30rem;
  height: 45rem;
  margin: 2rem auto;
}

.bulb-icon-off {
  color: var(--black-color--dark);
  transform: scale(1.25);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bulb-icon-on {
  color: var(--yellow-color--light);
  transform: scale(1.25);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 6.8rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-color--switch);
  transition: 0.4s;
  border-radius: 5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 5.2rem;
  width: 5.2rem;
  left: 0.8rem;
  bottom: 0.8rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 6.8rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--yellow-color--switch);
}

input:checked + .slider:before {
  transform: translateX(5.2rem);
}

input:checked ~ .slider-text {
  left: -2.4rem;
  color: white;
}

.slider-text {
  left: 2.8rem;
}

/*
 SECTION - SETTINGS
*/

.section-settings {
  font-size: 1.6rem;
}
