/*
 SECTION - GENERAL
*/

:root {
  --black-color--dark: #040203;
  --black-color--light: #323232;
  --black-color--switch: #191919;
  --yellow-color--dark: #ffbd35;
  --yellow-color--light: #fef89a;
  --yellow-color--switch: #ffe264;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of users browser font-size settings */
  /* It is able to use easy px to rem ratio that 1 rem = 10 px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  color: white;
}

.hidden {
  display: none;
}

/*
 SECTION - MAIN
*/

.heading-primary {
  font-size: 4.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.section-main.off {
  background-color: var(--black-color--light);
}

.section-main.on {
  background-color: var(--yellow-color--dark);
}

.bulb-icon-off,
.bulb-icon-on {
  width: 100%;
  height: 100%;
}

.bulb-icon-off {
  color: var(--black-color--dark);
}

.bulb-icon-on {
  color: var(--yellow-color--light);
}

.switch {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 6.8rem;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-color--switch);
  transition: 0.4s;
  border-radius: 5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 5.2rem;
  width: 5.2rem;
  left: 0.8rem;
  bottom: 0.8rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 6.8rem;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--yellow-color--switch);
}

input:checked + .slider:before {
  transform: translateX(5.2rem);
}

input:checked ~ .slider-text {
  left: -2.4rem;
}

.slider-text {
  left: 2.8rem;
}

/*
 SECTION - SETTINGS
*/

.section-settings {
  font-size: 1.6rem;
  color: #333;
}

.gear-icon {
  color: white;
  width: 3.2rem;
}

.show-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
  background: none;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
